body {
    margin: 0px;
    font-family: 'Cormorant', sans-serif;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: black;
}

.LogoS {
    width: 260px;
    height: 110px;
}

/* Початок селекторів header */

.header {
    position: absolute;
    width: 1800px;
    height: 110px;
    padding: 16px;
}

.admin-icon {
    margin-left: 1280px;
    position: absolute;
}

.name-admin {
    margin-left: 1380px;
}

.logout-icon {
    margin-left: 40px;
}

.exit {
    margin-left: 20px;
}

/* Кінець селекторів header */

/* Початок селекторів main */

.main {
    position: absolute;
    padding: 16px;
    margin-top: 110px;
    margin-left: 340px;
}

.home-icon {
    width: 35px;
    height: 35px;
}

.title-main {
    font-size: 32px;
    font-weight: bold;
}

.goods-table {
    height: 400px;
    width: 1540px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

table {
    width: 920px;
    height: 400px;
}

table img {
    width: 75px;
    height: 75px;
}

/* Початок селекторів Популярні товари */

.goods {
    margin-top: 40px;
    background-color: #EBEAEA;
    border-radius: 16px;
    padding: 8px;
}

.button-add-goods {
    cursor: pointer;
    margin-left: 710px;
    margin-bottom: 20px;
    height: 27px;
    background-color: #BEBFBF;
    border: none;
}

.button-del-goods {
    cursor: pointer;
    border: none;
    background-color: #BEBFBF;
}

.button-change-goods {
    cursor: pointer;
    border: none;
    background-color: #BEBFBF;
}

/* Кінець селекторів Популярні товари */

/* Початок селекторів filter */

.filter-goods {
    border-radius: 8px;
    width: 400px;
    margin-left: 40px;
    margin-top: 40px;
    border: 1px solid #B6B6B6;
}

.border-filter {
    border-radius: 8px;
    width: 400px;
    border: 1px solid #B6B6B6;
}

.article-goods {
    padding: 8px;
}

.article-goods input {
    width: 380px;
}

.name-goods {
    padding: 8px;
}

.name-goods input {
    width: 380px;
}

.amount-goods {
    padding: 8px;
}

.price-goods {
    padding: 8px;
}

.price-goods input {
    width: 50px;
}

.button-price-ok {
    cursor: pointer;
    border: none;
    background-color: #D9D9D9;
}

/* Кінець селекторів filter */

/* Кінець селекторів main */

/* Початок селекторів left-content */

.left-content {
    display: flex;
    flex-wrap: wrap;
    background-color: #d3d3d3;
    width: 260px;
    height: 960px;
}

.left-content-position {
    width: 260px;
    height: 420px;
}

.button-section1 {
    height: 110px;
    width: 260px;
}

.img-panel {
    margin-left: 100px;
}

.a-panel {
    margin-left: 50px;
}

.button-section2 {
    background-color: #B4B4B4;
    height: 110px;
    width: 260px;
}

.img-goods {
    margin-left: 100px;
}

.a-goods {
    margin-left: 105px;
}
.button-section3 {
    height: 110px;
    width: 260px;
}

.img-orders {
    margin-left: 100px;
}

.a-orders {
    margin-left: 100px;
}
.button-section4 {
    height: 110px;
    width: 260px;
}

.img-users {
    margin-left: 100px;
}

.a-users {
    margin-left: 75px;
}

/* Кінець селекторів left-content */