* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cormorant', sans-serif;
}

main {
    margin-top: 180px;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.basket-title {
    color: #000000;
    font-weight: 400;
    font-size: 36px;
    line-height: 77.5px;
}

.basket_section {
    max-width: 415px;
    max-height: 160px;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.basket-field {
    margin-top: 80px;
}

.goods-1-p-name {
    position: absolute;
}

.goods-1-btn-price {
    cursor: pointer;
    border: none;
    width: 20px;
    margin-left: 380px;
}

.status-and-counter {
    position: absolute;
}

.price-sum-p {
    padding-left: 240px;
}

.goods-1-p-status {
    margin-top: 32px;
}

.button1goods1 {
    border: none;
    cursor: pointer;
    margin-left: 120px;
}

.button2goods1 {
    border: none;
    cursor: pointer;
}

.img-goods1 {
    position: absolute;
    width: 100px;
    height: 100px;
}

.goods-2-p-status {
    margin-top: 32px;
}

.goods-2-btn-price {
    cursor: pointer;
    border: none;
    width: 20px;
    margin-left: 380px;
}

.button1goods2 {
    border: none;
    cursor: pointer;
    margin-left: 120px;
}

.button2goods2 {
    border: none;
    cursor: pointer;
}

.img-goods2 {
    position: absolute;
    width: 100px;
    height: 100px;
}

.input-count {
    margin-top: 8px;
    width: 24px;
}

.basket-field p {
    margin-top: 20px;
    margin-left: 120px;
}

.continue-shopping-button {
    margin-top: 80px;
    position: absolute;
    height: 20px;
    width: 140px;
    border: none;
    background-color: #D9D9D9;
    cursor: pointer;
}

.continue-shopping-button:hover {
    background-color: #A9A9A9;
}

.to-order-button {
    height: 20px;
    width: 200px;
    border: none;
    background-color: #D9D9D9;
    cursor: pointer;
}

.to-order-button:hover {
    background-color: #A9A9A9;
}

.to-order {
    margin-top: 80px;
    font-size: 24px;
    width: 300px;
    padding: 12px;
    border: 1px solid black;
    margin-left: 160px;
}