body {
	margin: 0;
}

/* Секція селекторів навігації */

a {
    color: black;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.header-section {
    display: flex;
    align-items: center;
}

.header-item {
    padding: 10px 15px;
    font-size: 20px;
}

.header-item:hover {
    background-color: #FF9900;
    border-radius: 4px;
}

.LogoS {
    width: 117px;
    height: 50px;
}

.basket {
    width: 30px;
    height: 30px;
}

/* Кінець секції селекторів навігації */

.background {
    background-image: url('../images/Background/BackgroundOpacity50.png');
    width: 1440px;
    height: 1840px;
    margin-left: 240px;
    background-repeat: no-repeat;
    background-size: cover;
}

.img img {
    width: 1440px;
    height: 480px;
    margin-left: 240px;
}

.wavepage p {
    padding-top: 20px;
    width: 283px;
    height: 19px;
    margin-left: 240px;
    color: gray;
}

/* Селектори товару */

.sort {
    padding-right: 280px;
    display: flex;
    justify-content: right;
    padding-bottom: 20px;
}

.filter {
    margin-left: 240px;
}

.input-price {
    width: 48px;
    height: 20px;
}

.filter {
    position: absolute;
    border: 1px solid black;
    max-width: 180px;
    max-height: 420px;
}

/* --- */

.goods-catalog {
    width: 1280px;
    height: 1620px;
    display: flex;
    flex-wrap: wrap;
}

.goods-1 {
    margin-left: 460px;
    padding: 20px;
    max-width: 200px;
    max-height: 560px;
    background-color: #D9D9D9;
}

.goods-1 img {
    width: 200px;
    height: 200px;
}

.goods-1-button-buy {
    border-radius: 12px;
    border: none;
    margin-left: 64px;
}

.goods-2 {
    margin-left: 40px;
    padding: 20px;
    max-width: 200px;
    max-height: 560px;
    background-color: #D9D9D9;
}

.goods-2 img {
    width: 200px;
    height: 200px;
}

.goods-2-button-buy {
    border-radius: 12px;
    border: none;
    margin-left: 64px;
}

.goods-3 {
    margin-left: 40px;
    padding: 20px;
    max-width: 200px;
    max-height: 560px;
    background-color: #D9D9D9;
}

.goods-3 img {
    width: 200px;
    height: 200px;
}

.goods-3-button-buy {
    border-radius: 12px;
    border: none;
    margin-left: 64px;
}

.goods-4 {
    margin-top: 20px;
    margin-left: 460px;
    padding: 20px;
    max-width: 200px;
    max-height: 560px;
    background-color: #D9D9D9;
}

.goods-4 img {
    width: 200px;
    height: 200px;
}

.goods-4-button-buy {
    border-radius: 12px;
    border: none;
    margin-left: 64px;
}

.goods-5 {
    margin-top: 20px;
    margin-left: 40px;
    padding: 20px;
    max-width: 200px;
    max-height: 560px;
    background-color: #D9D9D9;
}

.goods-5 img {
    width: 200px;
    height: 200px;
}

.goods-5-button-buy {
    border-radius: 12px;
    border: none;
    margin-left: 64px;
}

.goods-6 {
    margin-top: 20px;
    margin-left: 40px;
    padding: 20px;
    max-width: 200px;
    max-height: 560px;
    background-color: #D9D9D9;
}

.goods-6 img {
    width: 200px;
    height: 200px;
}

.goods-6-button-buy {
    border-radius: 12px;
    border: none;
    margin-left: 64px;
}

.goods-7 {
    margin-top: 20px;
    margin-left: 460px;
    padding: 20px;
    max-width: 200px;
    max-height: 560px;
    background-color: #D9D9D9;
}

.goods-7 img {
    width: 200px;
    height: 200px;
}

.goods-7-button-buy {
    border-radius: 12px;
    border: none;
    margin-left: 64px;
}

.goods-8 {
    margin-top: 20px;
    margin-left: 40px;
    padding: 20px;
    max-width: 200px;
    max-height: 560px;
    background-color: #D9D9D9;
}

.goods-8 img {
    width: 200px;
    height: 200px;
}

.goods-8-button-buy {
    border-radius: 12px;
    border: none;
    margin-left: 64px;
}

.goods-9 {
    margin-top: 20px;
    margin-left: 40px;
    padding: 20px;
    max-width: 200px;
    max-height: 560px;
    background-color: #D9D9D9;
}

.goods-9 img {
    width: 200px;
    height: 200px;
}

.goods-9-button-buy {
    border-radius: 12px;
    border: none;
    margin-left: 64px;
}

.goods-10 {
    margin-top: 20px;
    margin-left: 460px;
    padding: 20px;
    max-width: 200px;
    max-height: 560px;
    background-color: #D9D9D9;
}

.goods-10 img {
    width: 200px;
    height: 200px;
}

.goods-10-button-buy {
    border-radius: 12px;
    border: none;
    margin-left: 64px;
}

.goods-11 {
    margin-top: 20px;
    margin-left: 40px;
    padding: 20px;
    max-width: 200px;
    max-height: 560px;
    background-color: #D9D9D9;
}

.goods-11 img {
    width: 200px;
    height: 200px;
}

.goods-11-button-buy {
    border-radius: 12px;
    border: none;
    margin-left: 64px;
}

.goods-12 {
    margin-top: 20px;
    margin-left: 40px;
    padding: 20px;
    max-width: 200px;
    max-height: 560px;
    background-color: #D9D9D9;
}

.goods-12 img {
    width: 200px;
    height: 200px;
}

.goods-12-button-buy {
    border-radius: 12px;
    border: none;
    margin-left: 64px;
}

.button-page-now {
    background-color: black;
    color: white;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 12px;
    margin-left: 64px;
}

.button-page {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 12px;
    margin-left: 64px;
}

/* Кінець селекторів товару */

/* Селектори footer */

.footer {
    background-color: #d1d1d1;
    min-height: 200px;
    margin-top: 30px;
  
    display: flex;
    padding: 35px;
    justify-content: center;
    gap: 40px;
}
  
.logo-container {
    height: 78px;
  }
.logo {
    height: 100%;
}
.nav {
    display: flex;
    flex-direction: column;
}
.nav-link {
    text-decoration: none;
    color: black;
    font-size: 24px;
    border-bottom: 0.5px solid #afafaf;
}
  
.heading {
    font-size: 700;
    font-size: 24px;
    position: relative;
}
  
.heading::after {
    position: absolute;
    width: 34px;
    height: 3px;
    content: "";
    background-color: #afafaf;
    border-radius: 10px;
    top: 29px;
    left: 0;
}
  
.info a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}  

/* Кінець селекторів footer */