<div class="header">
	<div class="header-section">
		<div>
			<img class="LogoS" src="assets\images\Logo\LogoS.png" alt="LogoS">
		</div>
		<div class="header-item headerButton">
			<a [routerLink]="['/main-page']">Головна</a>
		</div>
		<div class="header-item headerButton">
			<a [routerLink]="['/products']">Товар</a>
		</div>
		<div class="header-item headerButton">
			<a [routerLink]="['/blog']">Блог</a>
		</div>
		<div class="header-item headerButton">
			<a href="">Контакти</a>
		</div>
	</div>
	<div class="header-section">
		<div class="header-item headerButton">
			<a [routerLink]="['/cart']">Корзина</a>
		</div>
		<div>
			<img class="basket" src="assets\images\Photo\BasketLogo.png" alt="basket">
		</div>
		<div class="header-item headerButton">
			<a href="">Увійти</a>
		</div>
		<div class="header-item headerButton">
			<a href="">Реєстрація</a>
		</div>
	</div>
</div>