<main>
	<div class="basket-section">
		<h1 class="basket-title">Корзина</h1>
		<div class="basket-fields">
			<div class="basket-field" *ngFor="let item of cartService.cartItems">
				<img class="img-goods1" src="assets/images/HoneyPhoto/Мед 3.png" alt="goods1">
				<div>
					<p class="goods-1-p-name" [routerLink]="['/products/',item.product._id]">{{item.product.name}}</p>
					<button class="goods-2-btn-price" (click)="removeFromCart(item)">X</button>
				</div>
				<div class="status-and-counter">
					<p class="goods-2-p-status" *ngIf="item.product.amount > 0"></p>
					<button class="button1goods2" (click)="cartService.removeOne(item)">-</button>
					<input class="input-count" type="text" value="1" [(ngModel)]="item.quantity">
					<button class="button2goods2" (click)="cartService.addItem(item)">+</button>
				</div>
				<div>
					<p class="price-sum-p">{{item.product.price * item.quantity}}</p>
				</div>
			</div>
			<button class="continue-shopping-button" [routerLink]="['/products']"
				(click)="cartService.saveCart()">Продовжити покупки</button>
			<div class="to-order">
				<label class="to-order-price" for="to-order-button">{{cartService.getTotalValue()}}</label>
				<button class="to-order-button" [routerLink]="['/checkout']"
					[disabled]="cartService.cartItems.length == 0 || !cartService.isCartValid()">Оформити
					замовлення</button>
			</div>
		</div>
	</div>
</main>