.background {
  background-image: url("/../images/Background/BackgroundOpacity50.png");
  width: 1440px;
  height: 1840px;
  background-repeat: no-repeat;
  background-size: cover;
}

.img img {
  width: 1440px;
  height: 480px;
}

.wavepage p {
  padding-top: 20px;
  width: 283px;
  height: 19px;
  margin-left: 240px;
  color: gray;
}
.wavepage a {
  text-decoration: none;
  color: gray;
}

/* Селектори товару */

.sort {
  padding-right: 280px;
  display: flex;
  justify-content: right;
  padding-bottom: 20px;
}

.filter {
  margin-left: 240px;
}

.input-price {
  width: 48px;
  height: 20px;
}

.filter {
  position: absolute;
  border: 1px solid black;
  max-width: 180px;
  padding: 10px;
}

/* --- */

.goods-catalog {
  width: 1280px;
  height: 1620px;
  display: flex;
  flex-wrap: wrap;
}

.goods-1 {
  margin-left: 460px;
  padding: 20px;
  max-width: 200px;
  max-height: 560px;
  background-color: #d9d9d9;
}

.goods-1 img {
  width: 200px;
  height: 200px;
}

.goods-1-button-buy {
  border-radius: 12px;
  border: none;
  margin-left: 64px;
}

.button-page-now {
  background-color: black;
  color: white;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 12px;
  margin-left: 64px;
}

.button-page {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 12px;
  margin-left: 64px;
}
