<footer class="footer">
	<div class="logo-container">
		<img class="logo" src="assets\images\Logo\LogoS.png" alt="LogoS">
	</div>
	<div class="nav">
		<h3 class="heading">Меню</h3>

		<a [routerLink]="['/main-page']" class="nav-link">Головна</a>


		<a [routerLink]="['/products']" class="nav-link">Товар</a>


		<a [routerLink]="['/blog']" class="nav-link">Блог</a>


		<a href="" class="nav-link">Контакти</a>
	</div>
	<div class="info">
		<h3 class="heading">Контакти</h3>
		<p>м. Ужгород, 20002, вул. Заньковецька
			18, оф. 121</p>
		<a href="tel:+380961991696">+380 (96) 199 16 96</a>
	</div>
</footer>